*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
}

#room-container{
    display: grid;
    flex-direction: column;
}
#code-div{
    display: flex;
    flex-direction: column;
    gap: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px ;
    justify-self: center;
}

#block-top{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    border-top-left-radius: 4px;
    border-top-right-radius:4px ;
    width: 86vw;
    height: 30px;
    padding:0 2vw;
}
#room-container h2{
    color: gray;
}
p{
    color: white;
    font-size: 20px;
}
#copy-btn{
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 20px;
}


#block-bottom{
    display: flex;
    flex-direction: row-reverse;
    background-color: gray;
    width: 88vw;
    height: 30px;
    padding-right: 2vw;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px ;}